<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>MainController</servlet-name>
  	<display-name>MainController</display-name>
  	<description></description>
  	<servlet-class>com.mainController.MainController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentBean</servlet-name>
  	<display-name>StudentBean</display-name>
  	<description></description>
  	<servlet-class>com.student.bean.StudentBean</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentLoginController</servlet-name>
  	<display-name>StudentLoginController</display-name>
  	<description></description>
  	<servlet-class>com.student.controller.StudentLoginController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FacultyLoginController</servlet-name>
  	<display-name>FacultyLoginController</display-name>
  	<description></description>
  	<servlet-class>com.faculty.controller.FacultyLoginController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminLoginController</servlet-name>
  	<display-name>AdminLoginController</display-name>
  	<description></description>
  	<servlet-class>com.admin.controller.AdminLoginController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminDao</servlet-name>
  	<display-name>AdminDao</display-name>
  	<description></description>
  	<servlet-class>com.admin.dao.AdminDao</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminService</servlet-name>
  	<display-name>AdminService</display-name>
  	<description></description>
  	<servlet-class>com.admin.services.AdminService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminBean</servlet-name>
  	<display-name>AdminBean</display-name>
  	<description></description>
  	<servlet-class>com.admin.bean.AdminBean</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ConnWithPostgresDB</servlet-name>
  	<display-name>ConnWithPostgresDB</display-name>
  	<description></description>
  	<servlet-class>com.util.ConnWithPostgresDB</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DataValidation</servlet-name>
  	<display-name>DataValidation</display-name>
  	<description></description>
  	<servlet-class>com.util.DataValidation</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddStudentController</servlet-name>
  	<display-name>AddStudentController</display-name>
  	<description></description>
  	<servlet-class>com.admin.controller.AddStudentController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentListController</servlet-name>
  	<display-name>StudentListController</display-name>
  	<description></description>
  	<servlet-class>com.admin.controller.StudentListController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FacultyBean</servlet-name>
  	<display-name>FacultyBean</display-name>
  	<description></description>
  	<servlet-class>com.faculty.bean.FacultyBean</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CourseBean</servlet-name>
  	<display-name>CourseBean</display-name>
  	<description></description>
  	<servlet-class>com.admin.bean.CourseBean</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SubjectBean</servlet-name>
  	<display-name>SubjectBean</display-name>
  	<description></description>
  	<servlet-class>com.admin.bean.SubjectBean</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddSubjectController</servlet-name>
  	<display-name>AddSubjectController</display-name>
  	<description></description>
  	<servlet-class>com.admin.controller.AddSubjectController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SubjectListController</servlet-name>
  	<display-name>SubjectListController</display-name>
  	<description></description>
  	<servlet-class>com.admin.controller.SubjectListController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddFacultyController</servlet-name>
  	<display-name>AddFacultyController</display-name>
  	<description></description>
  	<servlet-class>com.admin.controller.AddFacultyController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FacultyListController</servlet-name>
  	<display-name>FacultyListController</display-name>
  	<description></description>
  	<servlet-class>com.admin.controller.FacultyListController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteStudentController</servlet-name>
  	<display-name>DeleteStudentController</display-name>
  	<description></description>
  	<servlet-class>com.admin.controller.DeleteStudentController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteFacultyController</servlet-name>
  	<display-name>DeleteFacultyController</display-name>
  	<description></description>
  	<servlet-class>com.admin.controller.DeleteFacultyController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteSubjectController</servlet-name>
  	<display-name>DeleteSubjectController</display-name>
  	<description></description>
  	<servlet-class>com.admin.controller.DeleteSubjectController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateStudentController</servlet-name>
  	<display-name>UpdateStudentController</display-name>
  	<description></description>
  	<servlet-class>com.admin.controller.UpdateStudentController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditStudentController</servlet-name>
  	<display-name>EditStudentController</display-name>
  	<description></description>
  	<servlet-class>com.admin.controller.EditStudentController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditFacultyController</servlet-name>
  	<display-name>EditFacultyController</display-name>
  	<description></description>
  	<servlet-class>com.admin.controller.EditFacultyController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateFacultyController</servlet-name>
  	<display-name>UpdateFacultyController</display-name>
  	<description></description>
  	<servlet-class>com.admin.controller.UpdateFacultyController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditSubjectController</servlet-name>
  	<display-name>EditSubjectController</display-name>
  	<description></description>
  	<servlet-class>com.admin.controller.EditSubjectController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateSubjectController</servlet-name>
  	<display-name>UpdateSubjectController</display-name>
  	<description></description>
  	<servlet-class>com.admin.controller.UpdateSubjectController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddFileController</servlet-name>
  	<display-name>AddFileController</display-name>
  	<description></description>
  	<servlet-class>com.admin.controller.AddFileController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FileBean</servlet-name>
  	<display-name>FileBean</display-name>
  	<description></description>
  	<servlet-class>com.admin.bean.FileBean</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FileListController</servlet-name>
  	<display-name>FileListController</display-name>
  	<description></description>
  	<servlet-class>com.admin.controller.FileListController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FacultyDao</servlet-name>
  	<display-name>FacultyDao</display-name>
  	<description></description>
  	<servlet-class>com.faculty.dao.FacultyDao</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MainController</servlet-name>
  	<url-pattern>/MainController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentBean</servlet-name>
  	<url-pattern>/StudentBean</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentLoginController</servlet-name>
  	<url-pattern>/StudentLoginController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FacultyLoginController</servlet-name>
  	<url-pattern>/FacultyLoginController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminLoginController</servlet-name>
  	<url-pattern>/AdminLoginController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminDao</servlet-name>
  	<url-pattern>/AdminDao</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminService</servlet-name>
  	<url-pattern>/AdminService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminBean</servlet-name>
  	<url-pattern>/AdminBean</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ConnWithPostgresDB</servlet-name>
  	<url-pattern>/ConnWithPostgresDB</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DataValidation</servlet-name>
  	<url-pattern>/DataValidation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddStudentController</servlet-name>
  	<url-pattern>/AddStudentController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentListController</servlet-name>
  	<url-pattern>/StudentListController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FacultyBean</servlet-name>
  	<url-pattern>/FacultyBean</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CourseBean</servlet-name>
  	<url-pattern>/CourseBean</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SubjectBean</servlet-name>
  	<url-pattern>/SubjectBean</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddSubjectController</servlet-name>
  	<url-pattern>/AddSubjectController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SubjectListController</servlet-name>
  	<url-pattern>/SubjectListController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddFacultyController</servlet-name>
  	<url-pattern>/AddFacultyController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FacultyListController</servlet-name>
  	<url-pattern>/FacultyListController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteStudentController</servlet-name>
  	<url-pattern>/DeleteStudentController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteFacultyController</servlet-name>
  	<url-pattern>/DeleteFacultyController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteSubjectController</servlet-name>
  	<url-pattern>/DeleteSubjectController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateStudentController</servlet-name>
  	<url-pattern>/UpdateStudentController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditStudentController</servlet-name>
  	<url-pattern>/EditStudentController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditFacultyController</servlet-name>
  	<url-pattern>/EditFacultyController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateFacultyController</servlet-name>
  	<url-pattern>/UpdateFacultyController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditSubjectController</servlet-name>
  	<url-pattern>/EditSubjectController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateSubjectController</servlet-name>
  	<url-pattern>/UpdateSubjectController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddFileController</servlet-name>
  	<url-pattern>/AddFileController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FileBean</servlet-name>
  	<url-pattern>/FileBean</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FileListController</servlet-name>
  	<url-pattern>/FileListController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FacultyDao</servlet-name>
  	<url-pattern>/FacultyDao</url-pattern>
  </servlet-mapping>
</web-app>
